<!DOCTYPE html>
<html lang="">
    <head>
        {% block head_stylesheets deferred %}
            {{ pimcore_head_link() }}
        {% endblock %}
        <link href="https://fonts.googleapis.com/css?family=Hind+Guntur:300,400,500,600,700&display=swap" rel="stylesheet">
        
        <link rel="stylesheet" type="text/css"  href="/static/print/css/pdf-styles.css"     media="print">
        <link rel="stylesheet" type="text/css"  href="/static/print/css/pdf-styles.css"     media="screen">
        
        {% if printermarks is defined and printermarks == true %}
        <link rel="stylesheet" type="text/css" href="/bundles/pimcoreadmin/css/print/print-printermarks.css" media="print" />
        {% endif %}
        
        {% if editmode %}
            <link rel="stylesheet" type="text/css" href="/static/print/css/print-edit.css"  media="screen" />
        {% endif %}
        
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        
        {% block headscripts deferred %}
            {{ pimcore_head_script() }}
        {% endblock %}
    </head>
    <body>
        <div class="site">
        {{ block('_content') }}
        </div>
    </body>
</html>

