<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tract Motors Content Listing Page</title>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
    *{box-sizing:border-box;}
    body{margin:0;padding:0;background:white;font-family:'Open Sans', sans-serif, Arial, Helvetica, sans-serif;font-size:15pt;}
    .inner-container{max-width:80%;margin:auto}
    .red-band{height:95px;background:#cf0101;width:60%}
    .content{margin-top:95px;}
     h1{font-size:45px;}
    .bottom-container{position:absolute;bottom:0;left:0;width:100%}
    .bottom-container .red-band{height:60px;}
    .content ul{padding:0;}
    .content ul li{list-style:none;margin-bottom:10px;font-size:25px;}
    .content ul li span{margin-right:28px}
</style>

<body>

<section class="top-container">
    <div class="inner-container">
        <div class="red-band">
            &nbsp;
        </div>
    </div>
</section>

<section class="content">
    <div class="inner-container">
        <h1>Contents</h1>
        <ul>
            {{
                pimcore_areablock('content', {
                    'allowed': [
                        'print-catalog-content-list-title',
                        
                    ]
                })
            }}
        </ul>
    </div>
</section>

<section class="bottom-container">
    <div class="inner-container">
        <div class="red-band">
            &nbsp;
        </div>
    </div>
</section>

</body>

</html>
