{% extends 'layouts/print_catalog.html.twig' %}
{%  block _content %}
    {% do app_print_create_register(document.getProperty('print_register_title') , document.getProperty('print_register_type')) %}
    <div class="page {{ app_print_get_register_name(document.getProperty('print_register_title')) }} {{ document.getProperty('print_register_type') }}" id="documentpage-{{ document.id }}">
        <div>

            {{
            pimcore_areablock('content', {
                'allowed': [
                    'print-product-catalog-cover',
                    'print-toc',
                    'print-product-by-category',
                ]
            })
            }}

        </div>
    </div>
{% endblock %}
