{% if product %}
<table cellpadding="0" cellspacing="0" width="100%" style="padding:15px;padding-left:0; padding-right: 0;">
    <tr>
        <td><h2>{{ product.getProductName() }}</h2></td>
    </tr>
    <tr>
        <td>
            <table class="pdf-data-table" cellpadding="0" cellspacing="0" width="100%">

                <tr>
                    {% if (product.getGallery().getItems()|length) > 0 %}
                        {% set break = false %}
                        {% set counter= 0 %}
                        {% for item in product.getGallery().getItems() if not break %}   
                        
                        <td class="column_1">
                           {% if item %}
                            <div class="img-placeholder">
                               <img src="{{ pimcore_generate_image_url(item.getImage()) }}" />  
                           </div>
                           {% endif %}
                        </td>
                        {% set counter=counter+1 %}
                        {% if counter == 3 %}
                             {% set break = true %}
                        {% endif %}
                        {% endfor %}
                    {% else %}
                    <td class="column_1">
                        <div class="img-placeholder">
                             <img src="{{pimcore_generate_image_url(product.getImage()) }}" />     
                        </div>
                     </td>
                    {% endif %}
                </tr>

            </table>
        </td>
    </tr>
</table>
<div class="product-list-price">
<h2>List Price  :</h2> 
<p>RM {{product.getListPrice() }}</p>

</div>
<div class="product-discription">
<h2>Product Description</h2>
<p>{{ product.getDescription()|raw }}</p>
</div>
<table cellpadding="0" cellspacing="0" width="100%" style="padding:15px;padding-left:0; padding-right: 0;">
    <tr>
        <td><h2>Product Specification</h2></td>
    </tr>
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" width="100%" style="padding:15px;padding-left:0">
                <tbody>
                    <tr>
                        <td>
                            <table class="pdf-data-table product-specification-table" cellpadding="0" cellspacing="0" width="100%">
                                <tbody>
                                    {% for head,product in productList %}
                                        {% if head=='TechnicalSpecification' %}
                                            {% for h,v  in  product %} 
                                                {% if v|trim  is not empty %}
                                                    <tr>
                                                        <td style="width:40%;text-align: left">{{ h }} </td>
                                                        <td style="width:60;text-align: left">{{ v|raw }} </td>
                                                    </tr>
                                                {% endif %}
                                             {% endfor %}
                                        {% else %}
                                                <tr>
                                                    <td style="width:40%;text-align: left">{{ head }} </td>
                                                    <td style="width:60%;text-align: left">{{ product|raw }}</td>
                                                </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
             {% set relatedParts=product.getRelatedParts() %}
             {% if relatedParts %}
             <section class="related-products">
                <h2>Related Parts</h2>
                {% for element in relatedParts %}
                <div class="parts">
                    <div class="parts-box">
                        <img src="{{pimcore_generate_image_url(element.getImage())}}">
                        <span>
                            <p class="part-name">{{element.getProductName() }}</p>
                            <p class="part-price">RM {{element.getListPrice() }}</p>
                        </span>
                     </div>
                </div>
                {% endfor %}
            </section>
            {% endif %}
                                
        </td>
    </tr>
</table>
{%  elseif editmode %}
    <p>Drag a product here</p>
{% endif %}
