<div class="pdf-multiple-product">
    <table style="width: 100%;">
        <thead>
            <tr>
                <td>
                    <div class="page-head-row">
                        <div class="page-head-left">

                        </div>
                        <div class="page-head-right">
                            <h2>{{pimcore_input("category_sub_head_1", {'placeholder':'Enter Category/Subcategory Name'}) }}</h2>
                        </div>
                    </div>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="sub-heading">{{pimcore_input("category_brand_name", {'placeholder':'Enter Brand Name'}) }}</div>
                    <div class="pro-row">
                        {% if editmode %}
                            {{
                                pimcore_outputchanneltable('multiple_product_grid_1', {
                                    'disableClassSelection': true,
                                    'disableFavoriteOutputChannel': true,
                                    'type': 'Object',
                                    'selectedClass':'Product',
                                    'reload':true
                                })
                            }}
                        {% else %}
                            {% set productGridData_1 = pimcore_outputchanneltable('multiple_product_grid_1') %}
                            {% if productGridData_1|length >0 %}
                                {% for element in productGridData_1 %}
                                <div class="pro-col">
                                    <img src="{{pimcore_generate_image_url(element.getImage())}}" alt="{{element.getProductName() }}" >
                                    <h3>{{element.getModel() }}</h3>
                                </div>
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    </div>
                    {% if not editmode %}
                        {% if productGridData_1|length > 0 %}
                        <div class="multi-prod-compare-table">
                            <table class="multi-pro-com-table" cellpadding="0" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th style="width:20%; text-align: left;">Model</th>
                                        {% for element in productGridData_1 %}
                                         <th style="width:12%">{{element.getModel() }}</th>
                                        {% endfor %}
                                     </tr>
                                </thead>
                                <tbody>
                                    {% set productAttrList=pimcore_get_technicleAttribute(productGridData_1) %}

                                    {% if productAttrList %}
                                        {% set titles=productAttrList.title %}
                                        {% set techAttributes=productAttrList.technichleItems %}
                                        {% for title in titles %}
                                        <tr>
                                            <td style="text-align: left;">{{title}}</td>
                                            {% for tattr in techAttributes %}
                                                <td>{{ tattr[title] }}</td>
                                            {% endfor %}
                                        </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td style="text-align: left;">No Technicle Attributes Found</td>
                                        </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                        {% endif %}
                    {% endif %}
                    <p style="page-break-after: always;">&nbsp;</p>
                    <div class="product-detail-text">
                        <div class="prote-box">
                            <h4>{{pimcore_input("category_desc_head_1", {'placeholder':'Enter Title 1'}) }}</h4>
                            {#<ul>
                                <li>Motor over-load protector is available</li>
                            </ul>#}
                            {{  pimcore_wysiwyg("category_desc_1", {
                                    "height": 200
                                }) 
                            }}
                            <h4>{{pimcore_input("category_desc_head_2", {'placeholder':'Enter Title 2'}) }}</h4>
                            {#<ul>
                                <li>To protect against dust and water splash</li>
                            </ul>#}
                            {{  pimcore_wysiwyg("category_desc_2", {
                                    "height": 200
                                }) 
                            }}
                            <h4>{{pimcore_input("category_desc_head_3", {'placeholder':'Enter Title 3'}) }}</h4>
                            {#<ul>
                                <li>Four poles electric motor fits overload protection </li>
                            </ul>#}
                            {{  pimcore_wysiwyg("category_desc_3", {
                                    "height": 200
                                }) 
                            }}
                        </div>
                    </div>
                    <div class="sub-heading">{{pimcore_input("category_brand_name_2", {'placeholder':'Enter Brand Name'}) }}</div>
                    {% if not editmode %}   
                    <div class="multi-prod-compare-table">
                        {% set productGridData_2 = pimcore_outputchanneltable('multiple_product_grid_2') %}
                        {% if productGridData_2|length > 0 %}
                        <table class="multi-pro-com-table" cellpadding="0" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th style="width:20%; text-align: left;">Model</th>
                                    {% for element in productGridData_2 %}
                                    <th style="width:12%">{{element.getModel() }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% set productAttrList2=pimcore_get_technicleAttribute(productGridData_2) %}
                                {% set titles2=productAttrList2.title %}
                                {% set techAttributes2=productAttrList2.technichleItems %}
                                {% for title in titles2 %}
                                <tr>
                                    <td style="text-align: left;">{{title}}</td>
                                    {% for tattr in techAttributes2 %}
                                        <td>{{ tattr[title] }}</td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                    </div>
                    {% endif %}
                    <div class="pro-row two-col-prod">
                        {% if editmode %}
                            {{
                                pimcore_outputchanneltable('multiple_product_grid_2', {
                                    'disableClassSelection': true,
                                    'disableFavoriteOutputChannel': true,
                                    'type': 'Object',
                                    'selectedClass':'Product',
                                    'reload':true
                                })
                            }}
                        {% else %}
                            {% if productGridData_2|length > 0 %}
                                {% for element in productGridData_2 %}
                                <div class="pro-col">
                                    <img src="{{pimcore_generate_image_url(element.getImage())}}" alt="{{element.getProductName() }}">
                                    <h3>{{element.getModel() }}</h3>
                                </div>
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>

                </td>
            </tr>
        </tfoot>
    </table>
</div>
