<style>
.product-list-price p {
    color: #333;
    font-size: 1.5em;
    padding-left: 15px;
    line-height: 23px;
    margin-top: 18px;
    font-weight: 600;
}
.product-list-price {
    display: flex;
    align-items: center;
}
</style>
        <div class="table-pro-compare">
<table style="width: 100%;">
        <thead>
        <tr>
            <td style="width: 100px; background-color: #cf0101; height: 100vh; position: fixed;">
                {#<img   style="width: 100%;  position: absolute; left:0; bottom:0;" src="/static/print/images/vertical-logo.png">#}
            </td>
            <td style="vertical-align: top;">
                <div class="pdf-right-container">    
                </div>
            </td>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2" style="vertical-align: top;">
                    <div class="pdf-right-container">
                        {{
                            pimcore_renderlet('product1', {
                                "controller" : "web2print",
                                "action" : "product",
                                'className': ['Product'],
                                'editmode': true,
                                'type':'object',
                                "title" : "Drag a product here",
                                "reload":true,
                                "height" :1000
                            })
                        }}
                     </div>
                </td>
            </tr>
        </tbody>
    </table>
        </div>
