<style>
   @page {
            size: auto;
            margin: 0;
            padding: 0;
            background-origin: -ro-page-box;
        }

        body {
            position: relative;
            width: 21cm;
            height: 29.7cm;
            margin: 0 auto;
        }
        @media print {
            .bg-img img {
                position: fixed !important;
                left: 0;
                top: 0;
                width: 100%;
            }
        }
</style>
{% if editmode %}
    {#<style>
        .heading{top: 170px}
        #pimcore_editable_content_1_backgroud-cover-logo{top:280px;}
    </style>#}
{% endif %}
<div class="cover-page-wrap">
    <table border="0" style="width: 100%; border: 0; border-spacing: 0;">
        <tr>
            <td style="height: 100vh;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
                background-position: right;">
                <div class="bg-img">
                    {#<img src="https://i.ibb.co/hWkrQ4j/cover-img.jpg">#}
                    {{ pimcore_image("backgroud-cover-image") }}
                </div>
               <table class="title-table">
                   <tr><td><h1 class="heading"> {{ pimcore_input("cover-page-title",{'placeholder':'Enter Title 1'}) }}<br><span> {{ pimcore_input("cover-page-subtitle",{'placeholder':'Enter Title 2'}) }}</span></h1></td></tr>
                   <tr><td>
                           {{ pimcore_image("backgroud-cover-logo",{"class":"company-logo","style":"width:400px"}) }}
                           {#<img class="company-logo" style="width: 400px;" src="https://tractmotor.com.my/wp-content/uploads/2017/07/logo.png">#}
                       </td>
                   </tr>
               </table>               
            </td>
        </tr>
    </table>
</div>
