<style>
       .table-pro-compare .img-placeholder img {
            width: 150px;
        }

        .table-pro-compare .img-placeholder {
            border: 1px solid;
            padding: 2px;
        }
</style>
<div class="table-pro-compare">
<table style="width: 100%;">
        <thead>
        <tr>
            <td style="width: 100px; background-color: #cf0101; height: 100vh; position: fixed;">
                {#<img   style="width: 100%;  position: absolute; left:0; bottom:0;" src="/static/print/images/vertical-logo.png">#}
            </td>
            <td style="vertical-align: top;">
                <div class="pdf-right-container">    
                </div>
            </td>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2" style="vertical-align: top;">
                    <div class="pdf-right-container">
                        
                        <table cellpadding="0" cellspacing="0" width="100%" style="padding:15px;padding-left:0; padding-right: 0;">
                            <tr>
                                <td><h2>{{ pimcore_input("product-compare-title") }}</h2></td>
                            </tr>
                            {%  if editmode %}
                             <tr>
                                 <td>
                                    <div class="outPutconfig">
                                        {{
                                            pimcore_outputchanneltable('productCompareTable', {
                                                'disableClassSelection': true,
                                                'disableFavoriteOutputChannel': true,
                                                'reload':true,
                                                'selectedClass':'Product'
                                            })
                                        }}
                                        <strong style="color:red"><span>NOTE:</span><span>Please select minimum 2 and maximum 3 product </span></strong>
                                    </div>
                                  </td>
                             </tr>
                            {% else %}
                            <tr>
                                <td>
                                    {% set configArray = output_channel_build_output_data_config(pimcore_outputchanneltable('productCompareTable').getOutputChannel()) %}
                                    {% set elements = pimcore_outputchanneltable('productCompareTable') %}
                                    {% if elements %}
                                        {% set productCount = (elements|length) %}
                                        {% if productCount>0 %}
                                        <table class="pdf-data-table" cellpadding="0" cellspacing="0" width="100%">
                                           <tr>
                                                <td style="border: 0;"></td>
                                                {% for element in elements %}
                                                <td class="column_1">
                                                   <div class="img-placeholder">
                                                        <img src="{{pimcore_generate_image_url(element.getImage())}}" />   
                                                   </div>
                                                   <div class="product-content">
                                                        <h2>{{element.getProductName() }}</h2>
                                                        <p class="description">{{element.getModel() }}</p>
                                                        {% set currency=element.getCurrency() %}
                                                        {% set defaultCurrency='$' %}
                                                        {% if currency %}
                                                        {% set expldCurrency = currency|split('-') %}
                                                        {#{{dump(expldCurrency)}}#}
                                                        {% set defaultCurrency= expldCurrency[1]!=''?expldCurrency[1]:defaultCurrency %}
                                                        {% endif %}
                                                        <p class="price">{{ defaultCurrency|raw }}{{element.getListPrice()|round }}</p>
                                                   </div>
                                                </td>
                                                {% endfor %}
                                            </tr>
                                            {% set productAttrList=pimcore_get_compare_result(elements) %}
                                            {% for title,products in productAttrList %}
                                            <tr>
                                                <td style="text-align: left">{{ title }}</td>
                                                {% for value in products %}
                                                <td style="text-align: left">{{value|raw}}</td>
                                                {% endfor %}
                                            </tr>
                                            {% endfor %}
                                        </table>
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                            {% endif %}
                        </table>
                        
                    </div>
                </td>
            </tr>
        </tbody>
</table>
 </div>
