
*{box-sizing:border-box}
body{margin:0;padding:0;background:white;font-family:'Open Sans', sans-serif, Arial, Helvetica, sans-serif;font-size:15px;max-width:21cm;
    margin:0 auto;position:relative;height:100vh}
.clearfix:after{content:" ";visibility:hidden;display:block;height:0;clear:both}
@page{margin:0;padding:0}
.page{margin:0;padding:0}
table{ border-collapse: collapse !important;}
/*Content listing*/
.table-of-contents {
    padding: 30px 20px;
    position: relative;
    height: 100vh;
}
.table-of-contents table{ width: 100%;}
.table-page-header h1{
    margin-top: 0;
    background-color: #cf0101;
    height: 40px;
    text-transform: uppercase;
    line-height: 40px;
    margin: 0;
    font-size: 24px !important;
    color: #fff;
}
.table-of-contents ul { list-style: none;}
.table-of-contents ul li { padding:5px 0;}
.pdf-inner-container{max-width:80%;margin:auto}
.pdf-red-band{height:95px;background:#cf0101;width:60%}
.pdf-content{margin-top:95px;}
.table-of-contents h1{font-size:41px;font-weight:400}
.pdf-bottom-container{position:absolute;bottom:0;left:0;width:100%}
.pdf-bottom-container .pdf-red-band{height:60px;}
.table-of-contents ul {
    padding: 44px 10px 0 20px;
}
.table-of-contents ul li{list-style:none;margin-bottom:0px;font-size:23px;}
.table-of-contents ul li span{margin-right:28px}

/*End Content listing page */

/* Cover page */
.cover-page{float:left;width:100%;  height: 100vh; position: relative;}
.cover-page h1{font-size:45px;color:red;font-weight:normal;margin-left:75px;margin-top:230px;font-weight:400}
.cover-page h1 span{color:black}
.cover-page .cover-img{position:absolute;top:0;left:0;z-index:-1;width:100%}
.cover-page .company-logo{position:absolute;top:26.6cm;left:60px;z-index:2}
/* Catalogue page */
.pdf-main-container {
    position: relative;
    display: flex;
    height: 100vh;
    width: 100%;
}
.pdf-left-container {
    background: #cf0101;
    width: 100px;
    position: absolute;
    margin-right: 20px;
    bottom: 0;
    height: 100%;
    z-index: 99;
}

/*@media print {
    .pdf-left-container {
        background: #cf0101;
        width: 100px;
        position: fixed;
        margin-right: 20px;
        bottom: 0;
        height: 100%;
        z-index: 99;
    }
 }*/
@media print {
.pdf-left-container {
background: #cf0101;
width: 100px;
position: fixed;
margin-right: 20px;
bottom: 0;
height: 100vh;
z-index: 99;
display: table-cell;
}
}
.catelog-name {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}
.pdf-right-container {
    padding-right: 5px;
    width: 780px;
    padding-left: 120px;
    padding-top: 15px;
}
.pdf-left-container .company-logo{width:321px;display:inline-block;vertical-align:middle}
.pdf-left-container .company-logo img{max-width:100%;vertical-align:bottom}
.product-catalogue h2,.product-catalogue h1{font-size:30px;font-weight:600;text-align:center;margin-top:320px; position: relative; color: #fff;}

/*.product-catalogue h1::before{content:"";display:inline-block;background:url('https://i.ibb.co/QkJ5G1S/product-catalogue-title-before.png');width:87px;height:17px;
    margin-right:5px}
.product-catalogue h1::after{content:"";display:inline-block;background:url('https://i.ibb.co/Rpgf23k/product-catalogue-title-after.png');width:92px;height:17px;
    margin-left:5px}*/
.product-catalogue .img-placeholder{text-align:center;vertical-align:middle;display:inline-block;width:172px; height: 100px;}
.product-catalogue .img-placeholder img{max-width:100px;max-height:100px}
.pdf-cat-content h2{color:#fdc731;font-size:28px;font-weight:600; margin: 5px 0 0;text-align: left;}
.pdf-sub-cat-content{margin-bottom:2px; padding-bottom: 7px;}
.pdf-sub-cat-content .product-row{padding:0;margin:0;text-align:center; display:flex; flex-wrap: wrap;}
.pdf-sub-cat-content .product-row .product-box{text-align:left;padding:12px;width:30%;list-style:none;display:inline-block;margin:15px 4% 25px 0px;
    box-shadow:0px 1px 9px 4px #d2d2d2;position:relative}
.pdf-sub-cat-content .product-row .product-box:nth-child(3n){margin-right:0}
.pdf-sub-cat-content .product-row .product-box h4{font-size:13px;font-weight:700;margin:5px 0 0px;     height: 45px;
    line-height: 14px;}
.pdf-sub-cat-content .product-row .product-box h4 span.modal-no {
        display: block;
        font-size: 12px;
        color: #b7747b;
        margin-top: 2px;
        line-height: 14px;
    }
.pdf-sub-cat-content .product-row .product-box p{font-size:11px;}
.pdf-sub-cat-content .product-row .product-box span.price{position:absolute;background:#beb5b6;padding:5px 10px;width:calc(100% - 30px);text-align:right;font-size:18px}
.pdf-sub-cat-content h3{color:#4974c3;margin:5px 0 0 !important;font-size:21px}

/* Product comparison */
.product-compare h1{font-size:30px;font-weight:600}
.pdf-data-table{margin-top:35px;border-collapse: collapse;}
.pdf-data-table td{width:25%;border-left:1px solid #969696; border-bottom:1px solid #969696; border-top:1px solid#969696;text-align:center;padding:4px 11px;font-size:14px;font-weight:600;}
.pdf-data-table tr td:first-child{text-align:left;}
.pdf-data-table tr td:nth-child(2){color:#4168AF}
.pdf-data-table tr td:nth-child(3){color:#3A5C9C}
.pdf-data-table tr td:nth-child(4){color:#335188}
.pdf-data-table tr:nth-child(2n) td{background:#f0f0f0;}
.pdf-data-table tr:first-child td{border:0 !important;padding:0 5px}
.pdf-data-table.product-specification-table tr:first-child td{    border-left: 1px solid #969696 !important; border-right: 1px solid #969696 !important;
    border-top: 1px solid#969696 !important; padding:10px 11px}
.pdf-data-table tr td:last-child{border-right:1px solid #969696}
.pdf-data-table tr:last-child td{border-bottom:1px solid #969696}
.product-compare .img-placeholder{border:2px solid #335188;padding:5px;text-align:center;vertical-align:middle;display:inline-block;width:100%;}
.product-compare .img-placeholder img{max-width:170px;max-height:170px;}
.product-content{text-align:left;padding-bottom:19px;}
.product-content h2{color:#2e2d35;font-size:14px;font-weight:bold;margin:12px 0 5px}
.product-content .description{font-size:12px;color:#767475;margin:0; min-height: 31px;}
.product-content .price{font-size:18px;margin:0}
.pdf-data-table .column_2 .img-placeholder{border-color:#4168AF;}
.pdf-data-table .column_3 .img-placeholder{border-color:#3A5C9C;}
.pdf-page-title{width:58%;text-align:center;display:inline-block;vertical-align:middle;}
.pdf-page-title h3{color:white;font-size:30px;margin:0}
/* single product */
.col-4{width:32%;display:inline-block;padding: 0 5px}
.single-product .pdf-data-table tr:first-child td{border:1px solid #969696 !important;padding:20px}
.single-product .pdf-data-table tr td{padding:20px}
.single-product .pdf-data-table{margin:0}
.related-products .parts img{display: inline-block;vertical-align: middle;max-width:75px;height:auto;padding:3px;border:1px solid #d2d2d2}
.related-products .parts span{display: inline-block;vertical-align: middle;margin-left:25px}
.related-products .parts{width:50%;float:left;padding:6px}
.part-name{font-size:15px;font-weight:700;margin:0;text-transform:uppercase}
.part-price{font-size:14px;margin:0}
.single-product .img-placeholder{border:1px solid #d2d2d2;padding:5px;text-align:center;vertical-align:middle;display:inline-block;width:100%}
.single-product .img-placeholder img {
    max-width: 170px;
    max-height: 170px;
}



.victa-table td{
    padding: 10px;
}
.table-pro-compare .img-placeholder { text-align: center;}
.table-pro-compare .pdf-data-table { margin-top: 0;}
h1 { margin-top: 0;}
@page{
size: auto;
margin:0;
padding: 0;
background-origin: -ro-page-box;}

.table-pro-compare .img-placeholder img { width: 150px;}
.table-pro-compare .img-placeholder {border: 0px solid; padding: 2px;}
.table-pro-compare tr{page-break-inside: avoid; 
   page-break-after: auto;}
   .table-pro-compare thead {display: table-header-group;}
.table-pro-compare tfoot {display: table-header-group;}
.table-pro-compare .pdf-right-container {
padding-right: 10px;
width: 780px;
padding-left: 120px;
padding-top: 10px;
padding-bottom: 15px;
}
.table-pro-compare .parts-box{ display: flex; align-items: center;}


.cover-page-wrap img.company-logo {
    position: relative;
    top: 360px;
    left: 50px;
    width: 400px;
}


.cover-page-wrap img.cover-img {
    width: 100%;
    position: relative;
    object-fit: cover;
}

.cover-page-wrap h1 {
    font-size: 45px;
    color: red;
    font-weight: normal;
    font-weight: 400;
    position: relative;
    top: -170px;
    left: 80px;
}

.cover-page-wrap h1 span {
    color: black;
}

.cover-page-wrap  table {
    page-break-inside: auto
}

.cover-page-wrap  tr {
    page-break-inside: avoid;
    page-break-after: auto
}

.cover-page-wrap .bg-img img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

/*Multiple Product Template*/
.multi-prod-compare-table { padding: 0 50px;}
.multi-prod-compare-table tr{page-break-inside: avoid; 
    page-break-after: auto;}
    .multi-prod-compare-table thead {display: table-header-group;}
    .multi-prod-compare-table tfoot {display: table-header-group;}
.multi-pro-com-table th{ background-color: #a79d9d; color: #fff; border-left:1px solid #969696; border-right:1px solid #969696; border-bottom:1px solid #969696; border-top:1px solid#969696;
    text-align:center;padding:4px 5px;font-size:14px;font-weight:400;}
.multi-pro-com-table{margin-top:35px;border-collapse: collapse;}
.multi-pro-com-table td{border-left:1px solid #969696; border-bottom:1px solid #969696; border-top:1px solid#969696;text-align:center;
    padding:4px 5px;font-size:14px;font-weight:400;}
.multi-pro-com-table tr td:first-child{text-align:left;}
.multi-pro-com-table tr:nth-child(2n) td{background:#fff;}
.multi-pro-com-table tr{background-color: #f0f0f0;}
.multi-pro-com-table.product-specification-table tr:first-child td{    border-left: 1px solid #969696 !important; border-right: 1px solid #969696 !important;
    border-top: 1px solid#969696 !important; padding:10px 5px}
.multi-pro-com-table tr td:last-child{border-right:1px solid #969696;}
.multi-pro-com-table tr:last-child td{border-bottom:1px solid #969696;}

.pro-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:0 25px;
}
.pro-col {
    width: 50%;
    padding: 0 5px;
    text-align: center;
}
.pro-col img{height: 177px;}
.pro-row h3 {
    text-align: center;
    color: #2e2d35;
    margin: 5px 0;
}
.page-head-row {
    display: flex;
    margin-top: 25px;
    margin-bottom: 20px;
}
.page-head-left {
    height: 50px;
    width: 50px;
    background-color: #cf0101;
}
.page-head-right h2 { font-size: 32px; text-transform: uppercase; color:#fdc731;     margin: 0;
    padding: 10px 15px;}
.pdf-multiple-product .sub-heading { color: #4974c3; font-size: 24px; text-transform: uppercase; padding:0 15px 0 65px;}

.prote-box h4{ margin: 0; color: #000000; font-weight: 600;} 
.prote-box ul{margin: 0 0 15px 0;}
.prote-box ul li{ padding: 2px 0;}
.product-detail-text { padding:20px 50px 0px;}
.two-col-prod img{ height: 300px;}
.two-col-prod.pro-row { padding: 0 50px;}
.two-col-prod.pro-row img { padding: 10px;}

 
