/**
 * Pimcore
 *
 * This source file is available under two different licenses:
 * - GNU General Public License version 3 (GPLv3)
 * - Pimcore Enterprise License (PEL)
 * Full copyright and license information is available in
 * LICENSE.md which is distributed with this source code.
 *
 * @copyright  Copyright (c) Pimcore GmbH (http://www.pimcore.org)
 * @license    http://www.pimcore.org/license     GPLv3 and PEL
 */

.site{
   
    padding: 40px;

}
/*
.cover-page .cover-img{z-index: 999 !important;}
.product-catalogue{ margin-top:400px !important;}

.productRenderalert{width: 1000px; height:1000px;}

#pimcore_editable_content_1_backgroud-cover-logo { top: -269px;}
.cover-page-wrap h1{ top:-760px;}
.cover-page-wrap .bg-img img{ position:unset;}*/
table.title-table {
    position: absolute;
    top: 440px;
}
.cover-page-wrap .bg-img img{ position:unset;}
.product-catalogue {
    margin-top: 0 !important;
}

.bg-img .pimcore_tag_image_alt{opacity: 0 !important;}
.company-logo{top:250px !important;}

.pro-row two-col-prod table td img {
    height: auto !important;
}
.two-col-prod table td img {
    height: auto !important;
}
