/**
 * Pimcore
 *
 * This source file is available under two different licenses:
 * - GNU General Public License version 3 (GPLv3)
 * - Pimcore Enterprise License (PEL)
 * Full copyright and license information is available in
 * LICENSE.md which is distributed with this source code.
 *
 * @copyright  Copyright (c) Pimcore GmbH (http://www.pimcore.org)
 * @license    http://www.pimcore.org/license     GPLv3 and PEL
 */

.site {
	margin:0 auto;
	width: 21cm;
	padding:1cm 0 1cm 0;
}

.page {
	width: 21cm;
	padding:0.5cm 0 0.5cm 0;
	background:#FFF;
	-webkit-box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
        position: relative;
}
