<style>
    @page {
            size: auto;
            margin: 0;
            padding: 0;
            background-origin: -ro-page-box;
        }


        .product-catalogue .page-header h2 {
            margin-top: 0;
            background-color: #cf0101;
            height: 40px;
            text-transform: uppercase;
            line-height: 40px;
            margin: 0;
            font-size: 24px;
        }

        .pdf-right-container {
            padding-right: 0;
            width: 100%;
            padding-left: 0;
            padding-top: 0;
        }

        .pdf-sub-cat-content .product-row .product-box {
            text-align: left;
            padding: 12px;
            width: 30.6%;
            list-style: none;
            display: inline-block;
            margin: 15px 4% 25px 0px;
            box-shadow: 0px 1px 9px 4px #d2d2d2;
            position: relative;
            height: 100%;
        }

        .pdf-cat-content {
            padding: 15px;
        }
        .pdf-sub-cat-content h3 { color: #4974c3; margin: 10px 0 0; font-size: 20px;  text-transform: uppercase;}
        .pdf-cat-content h2 { font-size: 22px !important; text-transform: uppercase;}
        .page-header { padding: 30px 15px 0;}

        @media print {
           .product-catalogue thead {
                display: table-header-group;
            }

            .product-catalogue  tfoot {
                display: table-footer-group;
                position: relative;
                bottom: 0;
            }            
        }
</style>
{% set counter =0 %}
<main class="product-catalogue">
    <table style="width:100%">
        <thead>
            <tr>
                <th>
                    <div class="page-header">
                        <h2 class="heading">{{ pimcore_input("category_head", {'placeholder':'Category Name'}) }}</h2>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <table style="width:100%">
                        <tbody>
                            <tr>
                                <td>   
                                   <section class="pdf-cat-content">
                                       {% for k in pimcore_iterate_block(pimcore_block('ChildBlock',{'limit' : 50})) %}
                                        <h2 class="subheading">{{pimcore_input("category_sub_head_"~k, {'placeholder':'Subcategory Name'}) }}</h2>
                                        <div class="pdf-sub-cat-content">
                                           {#<h3 class="childheading">{{ pimcore_input("product_brand_"~k, {'placeholder':'Enter Brand Name'}) }}</h3>#}
                                            <div class="title-with-logo">
                                                <div class="tle">
                                                    <h3 class="childheading">{{ pimcore_input("product_brand_"~k, {'placeholder':'Enter Brand Name'}) }}</h3>
                                                </div>
                                                <div class="rt-lgo">
                                                    {#<img src="./images/Bitmap.jpg">#}
                                                    {{ pimcore_image("brand-logo") }}
                                                </div>
                                            </div>
                                           {% if editmode %}
                                           {{
                                               pimcore_outputchanneltable('tableconfig_'~k, {
                                                   'disableClassSelection': true,
                                                   'disableFavoriteOutputChannel': true,
                                                   'reload':false,
                                                   'selectedClass':'Product'
                                               })
                                           }}
                                           {% else %}
                                           {% set configArray = output_channel_build_output_data_config(pimcore_outputchanneltable('tableconfig_'~k).getOutputChannel()) %}
                                           {% set elements = pimcore_outputchanneltable('tableconfig_'~k) %}
                                           <div class="product-row">
                                                {% for element in elements %}
                                                {% set counter =counter+1 %}
                                              
                                                <div class="product-box" id="product_{{ counter }}">
                                                    <div class="img-placeholder">
                                                        <img style="width: 100px;" src="{{pimcore_generate_image_url(element.getImage())}}" alt="product_image">
                                                    </div>
                                                    {#<h4>{{ element.getProductName() }} | {{element.getModel() }}</h4>#}
                                                    <h4>
                                                        {{ element.getProductName() }} 
                                                        <span class="modal-no">{{element.getModel() }}</span>
                                                    </h4>
                                                    <p>{{ element.getShortDescription() }}
                                                    </p>
                                                    {% set currency=element.getCurrency() %}
                                                    {% set defaultCurrency='$' %}
                                                    {% if currency %}
                                                    {% set expldCurrency = currency|split('-') %}
                                                    {#{{dump(expldCurrency)}}#}
                                                    {% set defaultCurrency= expldCurrency[1]!=''?expldCurrency[1]:defaultCurrency %}
                                                    {% endif %}
                                                    <span class="price">{{ defaultCurrency|raw }}  {{ element.getListPrice()|round }}</span>
                                                </div>
                                               {% endfor %}
                                            </div>
                                            {% endif %}
                                        </div>
                                       {% endfor %}      
                                   </section>
                               </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</main>


