<style>
    @page{
        size: auto;
        margin: 0;
        padding: 0;
        background-origin: -ro-page-box;
    }
    #toc-wrapper .toc.ro-toc .ro-toc-level-1 {
        padding-top: 2mm;
        font-size: 12pt;
        font-family: 'Hind Guntur', sans-serif;
        font-weight: 600;
        padding-left: 0;
    }
    #toc-wrapper .toc.ro-toc .ro-toc-level-2 {
        padding-left: 5mm;
        padding-right: 0.5mm;
        padding-top: 1mm;
        font-size: 10pt;
        font-family: 'Hind Guntur', sans-serif;
        font-weight: 400;
    }
    #toc-wrapper .toc.ro-toc .ro-toc-level-3 {
        padding-left: 10mm;
        padding-right: 0.5mm;
        padding-top: 1mm;
        font-size: 10pt;
        font-family: 'Hind Guntur', sans-serif;
        font-weight: 400;
    }
</style>
{% do pimcore_head_script().appendFile(asset('/bundles/web2printtools/vendor/js/awesomizr.js')) %}
{#<script type="text/javascript" src="/bundles/web2printtools/vendor/js/awesomizr.js"></script>#}
{% if not editmode %}
    <script type="text/javascript">
        $(document).ready(function() {
            Awesomizr.createTableOfContents({
                /* toc container */
                insertiontarget: '#toc-wrapper',
                insertiontype: 'beforeend',
                /* levels to look for and link to in toc*/
                elements: ['h2.heading','h2.subheading','h3.childheading'],
                /* container element for the toc */
                container: {tag: 'ul', addClass: 'toc'},
                /* container element for one line in the toc */
                line: {tag: 'li'},
                disabledocumenttitle: false,
                toctitle: ' ',

                /* method of getting the text for the toc lines */
                text: function (elem) {
                    
                    return elem.textContent;
                }
            });
        });
    </script>
{% endif %}
{#<main class="table-of-contents" style="height:100vh">
    <section class="pdf-top-container">
        <div class="pdf-inner-container">
            <div class="pdf-red-band">
                &nbsp;
            </div>
        </div>
    </section>
    <section class="pdf-content">
        <div class="pdf-inner-container" id="toc-wrapper">
            <h2>{{ pimcore_input('toc_heading') }}</h2>
            {% if editmode %}
                TABLE OF CONTENTS IS GENERATED ON PDF-EXPORT
            {% endif %}
        </div>
    </section>
    <section class="pdf-bottom-container">
        <div class="pdf-inner-container">
            <div class="pdf-red-band">
                &nbsp;
            </div>
        </div>
    </section> 
</main>#}
<main class="table-of-contents">    
    <table>
        <thead>
            <tr>
                <th>
                    <div class="table-page-header">
                        <h1>{{ pimcore_input('toc_heading') }}</h1>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="toc-wrapper">
                    
                    {% if editmode %}
                        TABLE OF CONTENTS IS GENERATED ON PDF-EXPORT
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>     
</main>
